/* Account.css */
.auth-container,
.account-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

.auth-form,
.account-container {
  display: flex;
  flex-direction: column;
}

.auth-form input,
.account-container input {
  width: calc(100% - 1rem); /* Adjust width to align with the button */
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  color: #fff; /* Adjust text color for better contrast */
}

.auth-form input::placeholder,
.account-container input::placeholder {
  color: rgba(255, 255, 255, 0.816); /* Custom placeholder color */
}

.auth-form button,
.account-container button {
  width: calc(100% - 1rem); /* Adjusting width to align with the input fields */
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 123, 255, 0.7);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-form button:hover,
.account-container button:hover {
  background-color: rgba(0, 123, 255, 1);
}

.auth-toggle {
  color: #007bff;
  cursor: pointer;
}

.auth-toggle:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.success-message {
  color: green;
  margin-bottom: 1rem;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.order-table th,
.order-table td {
  border: 1px solid #5a5a5a;
  padding: 0.75rem;
  text-align: left;
}

.order-table th {
  background-color: #4d4d4d00;
}

.order-table td div {
  margin-bottom: 0.5rem;
}
